@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.animate {
  animation: fast 2s infinite;
}

@keyframes fast {
  50% {
    transform: translateY(20px);
  }
}
